<html>
<header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="index.html">Home</a></li>
        <li role="presentation"><a href="customer.html">Customer</a></li>
        <li role="presentation"><a href="driver.html">Driver</a></li>
        <li role="presentation" class="active"><a href="about.html">About RideShare </a></li>
        
    </ul>

</header>
<body>
    <center><h3 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
        Ride Share! Brought to you by:
    <center><p> Creators: Erik May, Devonte Holmes </p></center> <br/> </center>
    <center> <h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif"> 
    With the help of these Development tools, We were able to create Ride Share. </h4></center>
    <img src="MSqlServericon.jpg" class="img-responsive" alt="Icon" />
    <img src="angularicon.png" class="img-responsive" alt="Icon" />
    <img src="entityFrameworkicon.jpg" class="img-responsive" alt="Icon" />
    <img src="googlemapsapi.jpg" class="img-responsive" alt="Icon" />

<script src="Scripts/angular.js"></script>
<script src="Scripts/angular-route.js"></script>
<script src="Scripts/APIScripts/Module.js"></script>
<script src="Scripts/APIScripts/Service.js"></script>
<script src="Scripts/APIScripts/Controller.js"></script>
</body>
</html>

