<html>
<header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
    <ul class="nav nav-pills">
        <li role="presentation" ><a href="index.html">Home</a></li>
        <li role="presentation"><a href="customer.html">Customer</a></li>
        <li role="presentation"><a href="driver.html">Driver</a></li>
        <li role="presentation"><a href="about.html">About RideShare </a></li>
        
    </ul>
</header>

<body>
    <center> <div><h3> Your Driver is on the way in a <!-- ng binding Driver Name --> Be on the lookout! </h3>
        <h3> Check your phone for Ride Updates! </h3>
    <img src="ontheway.gif" class="img-responsive" alt="Icon" /> </div> </center>


<script src="Scripts/angular.js"></script>
<script src="Scripts/angular-route.js"></script>
<script src="Scripts/APIScripts/Module.js"></script>
<script src="Scripts/APIScripts/Service.js"></script>
<script src="Scripts/APIScripts/Controller.js"></script>   
</body>
</html>